<html>
	<head>
	  <title>Redditcanal: Live Updating photos</title>
	  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
	  <link type="text/css" rel="stylesheet" href="/style.css" />
	</head>
	<body>
		<div id="page" style="position: relative">
			<h1 style="margin-bottom: 12px; font-size: 2.8em"><span style="color: #0ad">Reddit</span><span style="color: #f39">canal</span></h1>
			<p style="margin-top: 0px; line-height: 1.0em"><span style="font-size: 0.7em">Live, updating Reddit dashboard</span><br /><span style="font-size: 0.5em; color: #999"><em>Ideal for see funny pictures whenever you want!</em></span></p>				
		</div>
	</body>
</html>