BODY {
	font-size: 2.0em;
	background-color: #222;
	margin: 0px;
}

BODY, INPUT {
	font-family: "helvetica neue", helvetica, arial, sans-serif;
}

.tweet .time, A {
	color: #0ad;
}

BODY, .tweet A {
	color: #eee;
}


#container {
	margin: 24px;
}

SMALL {
	font-size: 0.5em;
}

FORM {
	margin-bottom: 0;
	padding: 0px;
}

#showheader, #headerclose {	
	position: absolute; right: 0px; top: 0px;
	background-color: #0ad;
	color: #fff;
	font-weight: bold;
	font-size: 16px;
	padding: 6px 12px;
	z-index: 100;
}

.tweet {
	margin-bottom: 14px;
	margin-top: 14px;
	padding-bottom: 12px;
	padding-left: 24px;
	position: relative;
	border-bottom: 2px solid #333;
	min-height: 110px;
	display: none;
}

.tweet .by {
	color: #888;
	display: inline;
	font-size: 0.8em;
}

.tweet IMG.avatar {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 96px;
	height: 96px;
	margin-right: 12px;
	border: 2px solid #888;
}

.tweet IMG {
	max-width: 80%;
	max-height: 80%;
}

.tweet IMG.remote {
	margin-bottom: 12px;
	border: 2px solid #888;	
}

.tweet .content {
	margin-left: 100px;
}

ul.pictures-list {
	width: 900px;
}

ul.pictures-list li {
	float: left;
	width: 250px;
}



#q {
	font-size: 22px;
}

#page {
	width: 720px;
	padding: 0px 10px;
	margin: 0 auto;
	margin-top: 2em;
	text-align: center;
}

#gobutton {
	font-size: 18px;
}

#header {
	background-color: #0ad;
	/* min-height: 4px;
	max-height: 4px; */
	padding: 0px 6px 6px 6px;
	display: none;
}

#header #q {
	font-size: 18px;
}

#headerclose {
	position: absolute;
	top: 8px;
	right: 12px; 
}

P.notes {
	font-size: 11px;
	color: #999;
	font-family: verdana, helvetica, arial, sans-serif;
}

//#header:hover {
//	max-height: 100px;
//}
//
//#header:hover .inner {
//	display: block;
//}